* {
  color-scheme: light dark;
  font-family: monospace;
}

html,
body {
  height: 100vh;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

canvas {
  box-sizing: border-box;
  background-color: black;
  border: 1px solid currentColor;
  color: white;
  height: 100vh;
  image-rendering: pixelated;
}
