* {
  color-scheme: light dark;
  font-family: monospace;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

canvas {
  background-color: black;
  color: white;
  image-rendering: pixelated;
}

#textures {
  display: none;
}
